@media (max-width: 1024px){

  #bcPaint-header{
    height: 50px;
    padding: 45px 0;
    background-color: #f7f7f7;
  }



  #bcPaint-canvas-container{
    height: calc(100% - 291px);
  }

  #bcPaint-canvas-container > canvas{
    border: 2;
  }

 

}